*{
    box-sizing: border-box;
}

#colorsContainers{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.colorFlash{
    border: solid black 1px;
    background-color: black;
    height: 100px;
    width: 100px;
}

button{
    height: 120px;
    width: 120px;
}

#detonate{
    background-color: yellow;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
#confirm{
    background-color: red;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

main{
    background-color: grey;
    padding: 10px;
}