*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
/* body{
    background-color: aqua;
} */
main {
    width: 600px;
    max-width: 600px; 
    margin: 0 auto;
    background-color: grey;
}

#colorsContainers{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.colorFlash{
    border: solid black 1px;
    background-color: black;
    height: 100px;
    width: 100px;
}

button{
    height: 120px;
    width: 120px;
}

#detonate{
    background-color: yellow;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
#confirm{
    background-color: red;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

#redLight{
    position:absolute;
    top:15px;
    width:40px;
}

main{
    background-color: grey;
    padding: 10px;
}

img[alt="blueDino"]{
    width: 90px;
}
img[alt="pinkDino"]{
    width:90px;
}
img[alt="eatingDino"]{
    padding: none;
    margin: none;
    position: relative;
    right: 50px;
    bottom: 45px;
    width:200px;
}
img[alt="cow"]{
    position: relative;
    right: 40px;
    width: 200px;
}
img[alt="lama"]{
    width:90px;
}
img[alt="rooster"]{
    width: 170px;
    position: relative;
    right:20px;
    bottom: 20px;
}
img[alt="pig"]{
    width: 70px;
}

img[alt="sandwich"]{
    width: 100px;
}
img[alt="fries"]{
    width:120px;
}
img[alt="hotdog"]{
    width: 70px;
}
img[alt="smores"]{
    width:100px;
}

img[alt="potato"]{
    width: 100px;
}

img[alt="peas"]{
    width: 105px;
}

img[alt="carrots"]{
    width: 100px;
}

img[alt="onion"]{
    width: 100px;
}

button{
    border: solid black 1px;
    box-shadow: 2px 2px 2px 2px black;
    cursor:pointer
}

/* yellow */
#DBEA2C{
    position: relative;
    bottom: 14px;
}
img[alt = "hungryDino"]{
    width: 100px;
}

#BF26D8{
    position: relative;
    bottom: 88px;
}
/* dark green */
#\31 87C3A {
    position: relative;
    bottom: 6px;
}

/* blue */
#\32 52DE2 {
    position: relative;
    bottom: 3px;
}

/* carrots */
#\36 66441 {
    position:relative;
    bottom: 93px;
}

/* onion */
#B81A5C{
    position: relative;
    bottom:94px;
}

/* sandwich */
#C9AAA2{
    position: relative;
    bottom: 90px;
}

#\39 3D551{
    position: relative;
    bottom: 83px;
}

/* cow */
#\31 7424F{
    position: relative;
    bottom: 75px;
}

/* lama */
#\36 C0D53{
    position: relative;
    bottom: 91px;
}

#\36 F413E{
    position: relative;
    bottom: 140px;
}

#F8EDED{
    position: relative;
    bottom: 137px;
}

#E54949{
    position: relative;
    bottom: 73px;
}

#\37 3A07A{
    position: relative;
    bottom: 140px;
}

.main-btn{
    margin-left: 5px;
    margin-right: 15px;
}

main{
    padding-top: 20px;
    height: 570px;
    /* box-shadow: 2px 2px 2px 2px black; */
}

#det-con-btns {
    /* border: solid black 1px; */
    margin: 0 auto; 
    text-align: center; 
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#start {
    display: block;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    margin: 0 auto;
}